.docono_menu_icon {
    background-size: 30px 30px !important;
    background-image: url('../img/megaphone.png') !important;
}
.docono_menu_icon:hover {
    background-size: 30px 30px !important;
    background-image: url('../img/megaphone_white.png') !important;
}

.docono_menu_icon:after {
    background-color: #D85351 !important;
}

.docono_icon_megaphone {
    background-size: 20px 20px;
    background-image: url('../img/megaphone_white.png');
}

.x-tab-active .docono_icon_megaphone {
    background-image: url('../img/megaphone.png');
}


.docono_icon_info {
    background-size: 20px 20px;
    background-image: url('../img/information.png');
}

.docono_icon_advanced {
    background-size: 20px 20px;
    background-image: url('../img/cog.png');
}

.docono_icon_times {
    background-size: 20px 20px;
    background-image: url('../img/schedule.png');
}

.docono_icon_map {
    background-size: 20px 20px;
    background-image: url('../img/location.png');
}

.docono_icon_seo {
    background-size: 20px 20px;
    background-image: url('../img/seo.png');
}


.docono_icon_save {
    width: 20px !important;
    height: 20px !important;
    background-image: url('../img/rocket.png');
}

.docono_icon_site {
    background-size: 20px 20px;
    background-image: url('../img/building.png');
}

.docono_icon_delete {
    background-image: url('../img/delete_orange.png');
}

.docono_icon_add {
    background-image: url('../img/add.png');
}

.docono .x-btn.clear {
    background: none;
    border: none;
}

.docono .x-btn.clear span {
    color: #D85351 !important;
}

.docono .x-btn.clear:hover {
    background: #D85351 !important;
}

.docono .x-btn.clear:hover .x-btn-inner {
    color: #ffffff !important;
}

.docono .x-btn.clear:hover .docono_icon_delete {
    background-image: url('../img/delete.png');
}

.docono .x-btn.docono_style  {
    padding: 7px 25px;
    background: #D85351 !important;
    border: none;
}

.docono .x-btn.docono_style:hover {
    background: #3C3F41 !important;
}

.docono .x-btn.docono_style .x-btn-inner {
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
}

.docono .x-btn.docono_style:hover .x-btn-inner {
    color: #D85351;
}

.docono .x-btn:hover .docono_icon_save {
    background-image: url('../img/rocket_orange.png');
}

.docono .x-btn:hover .docono_icon_add {
    background-image: url('../img/add_orange.png');
}

.docono_button{
    background: none !important;
}

.docono_button:hover,
.x-btn-focus {
    background: none !important;
}

.docono_button .x-btn-inner {
    color: #000000;
    font-weight: bold;
}

.docono_button:hover .x-btn-inner {}

.docono_icon_logo {
    background: url('../img/logo.svg') center center no-repeat !important;
}

.docono .x-tab-default-top.x-tab-active {
    border-top: 3px solid #D85351;
}

.docono .x-tab-default-top.x-tab-active .x-tab-inner {
    color: #606060;
}

.docono .x-fieldset-header-text {
    color: #D85351;
}

.docono .x-form-trigger-wrap-default.x-form-trigger-wrap-focus {
    border-color: #D85351;
}

.docono fieldset.pm-time {
    padding-bottom: 10px !important;
    border: none !important;
}

.docono td.day-limiter {
    padding-top: 10px;
    border-top: 1px solid #D85351;
}

.docono td.day-limiter label.day {
    color: #D85351;
}

.docono .docono-seperator {
    margin: 20px 0px;
    background-color: #D85351;
    border: none;
    height: 1px;
}

.docono .socialmedia-icon {
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px 20px;
}

.docono .linkedin_icon {
    background-image: url("../img/linkedin.png");
}

.docono .xing_icon {
    background-image: url("../img/xing.png");
}

.docono .facebook_icon {
    background-image: url("../img/facebook.png");
}

.docono .googleplus_icon {
    background-image: url("../img/googleplus.png");
}
.docono .twitter_icon {
    background-image: url("../img/twitter.png");
}

.docono .instagram_icon {
    background-image: url("../img/instagram.png");
}

.docono .pinterest_icon {
    background-image: url("../img/pinterest.png");
}

.docono .youtube_icon {
    background-image: url("../img/youtube.png");
}

.docono .vimeo_icon {
    background-image: url("../img/vimeo.png");
}

.docono .vk_icon {
    background-image: url("../img/vk.png");
}

.docono .medium_icon {
    background-image: url("../img/medium.png");
}

.docono .reddit_icon {
    background-image: url("../img/reddit.png");
}


